<li class="list-group-item d-flex justify-content-between align-items-center">
    {{name}}

    {{#if tried}}
    <span class="badge bg-blue-1 badge-pill">
        <span>
            {{devoured}}
        </span>
    </span>
    {{/if}}

    {{#if displayDevourButton}}
    <button data-id="{{id}}" data-devoured="{{devoured}}" type="submit"
        class="devour btn bg-blue-1 m-0 py-0">{{#if devoured}}EAT ANOTHER!{{else}}EAT IT!{{/if}}</button>
    {{/if}}
</li>